body {
    font-family: Arial, sans-serif;
    background-color: #fdbc00;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.imagen-container {
    text-align: center;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

img {
    align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, select, button {
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #f54b2c;
    color: white;
    cursor: pointer;
    border: none;
    margin-top: 10px;
}

button:hover {
    background-color: #ff3310;
}

.hidden {
    display: none;
}

#addProduct {
    background-color: #4CAF50;
    margin-top: 20px;
}

#addProduct:hover {
    background-color: #45a049;
}

.removeProduct {
    background-color: #f54b2c;
    margin-top: 10px;
}

.removeProduct:hover {
    background-color: #ff3310;
}
