body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #fdbc00;
    color: black;
    padding: 10px 0;
    text-align: center;
}

nav.horizontal-scroll {
    overflow-x: auto;
    white-space: nowrap;
    background-color: #f8f8f8;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

nav.horizontal-scroll button {
    display: inline-block;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
}

nav.horizontal-scroll button:hover {
    background-color: #eee;
}

main {
    padding: 20px;
}

footer {
    background-color: #fdbc00;
    color: black;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Estilos para el botón flotante del carrito */
#cart-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #f55434;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product-container {
    padding-bottom: 60px; /* Ajusta el valor según sea necesario */
}

#cart-button:hover {
    background-color: #ff4500;
}

/* Estilo para el total dentro del botón */
#cart-total {
    font-size: 12px;
    color: white;
    margin-top: 5px;
}

.option-group {
    margin-bottom: 15px;
}

.option-label {
    display: block;
    margin-bottom: 5px;
}

.cart-icon-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #f55434;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.cart-icon {
    width: 30px;
    height: 30px;
    background: url('path-to-cart-icon.png') no-repeat center center;
    background-size: contain;
}

.cart-total {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}